<h1><%= @merchant.name %></h1>
<h2>Create New Bulk Discount</h2>

<%= form_with model: @discount, url: merchant_discounts_path(@merchant), local: true do |f| %>
  <%= f.label :percentage, 'Percent Off' %>
  <%= f.number_field :percentage, in: 1..100 %>

  <%= f.label :threshold, 'Item Threshold' %>
  <%= f.number_field :threshold %>

  <%= f.submit 'Create Bulk Discount' %>
<% end %>
