<h1><%= @merchant.name %></h1>

<h2>Discount Information</h2>
<% if @discount.name != nil %>
  <p>Name: <%= @discount.name %></p>
<% end %>
<p>Percentage Off: <%= @discount.percentage.to_i %>%</p>
<p>Item Threshold: <%= @discount.threshold%> items</p>
<% if @discount.holiday != nil %>
  <p>Holiday: <%= @discount.holiday %></p>
<% end %>

<%= button_to 'Edit Bulk Discount', edit_merchant_discount_path(@merchant, @discount), method: :get %>

<%= link_to 'Back to All Discounts', merchant_discounts_path(@merchant) %>